body {
  font-family: Arial, sans-serif;
}

.card-editor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.swiper-container {
  width: 400px;
  height: 711px;
  background-color: #f0f0f0;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgb(236, 236, 234);
}

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.draggable-text {
  top: 10px; /* Initial position, you can modify this */
  left: 10px; /* Initial position, you can modify this */
  position: absolute;
  cursor: move;
  padding: 10px;
  display: inline-block;

  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  /* resize: both; */
}

.controls {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #fb1 23.5%,
        rgba(240, 166, 17, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #b71 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #fb1 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #fb1 0
      )
      0 0,
    linear-gradient(
        150deg,
        #fb1 24%,
        #b71 0,
        #b71 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #b71 0,
        #b71 76%,
        #fb1 0
      )
      0 0,
    linear-gradient(
        30deg,
        #fb1 24%,
        #b71 0,
        #b71 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #b71 0,
        #b71 76%,
        #fb1 0
      )
      0 0,
    linear-gradient(90deg, #b71 2%, #fb1 0, #fb1 98%, #b71 0%) 0 0 #fb1;
  background-size: 40px 60px;
  padding: 20px;
  margin: 20px;
}

.color {
  background: white;
  display: inline-block;
}

.color-input {
  height: 20px;
}

input[type="text"],
select {
  width: 200px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

.swiper-pagination {
  bottom: 10px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

p {
  margin: 0;
}

/* Existing styles */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-height: 80%;
  overflow-y: auto;
}

#pagesList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#pagesList li {
  background: #f1f1f1;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  cursor: move;
}

#pagesList li.dragging {
  opacity: 0.5;
}

#savePagesBtn,
#cancelPagesBtn {
  margin-top: 70px;
}


select{
  height: 25px;
}